:root {
    --primary-color: #004a94; 
    --secundary-color: #edededff;/*tipo amarillento*/
    --third-color: #ffff;
    --for-color: #99712a;
    --text-color:  #6c757d;
    --enlaces: #17a2b8;
    --text-container :#0000;
    --error:#bb2929;

}



img, svg {
    width: 10rem;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Body and container styling */
.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--third-color);
    
 
}

.login-container {
 

    background: rgb(218, 221, 226);
    background: linear-gradient(to bottom, rgba(218, 221, 226, 1) 49%, rgba(255, 255, 255, 1) 75%);
    padding: 1rem;
    border-radius: 0.75rem;
    background-color:  var(--text-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    width: 40rem;  /*ancho del contenido*/
    /* height: 50%;  alto del contendio */
}


/* Image and text styling */
.login-icon-container {
    display: flex;
    justify-content: center;
}

.login-icon {
    height: 100%;
    WIDTH: 100%;
}

.icon-txt {/*fondo del titulo*/
background-color: var(--primary-color);
}


.login-text-title {
        text-align: center;
        font-family: "Nerko One", cursive;
        font-weight: 400;
        font-size: 3rem;
        margin: 0;
        color:var(--secundary-color) ;
    
}

.login-text { /*ingrese ususairo y contra*/
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
   
}





/* Footer Container  TECNICA STICKY FOOTER*/


.footer{
    background-color: var(--primary-color);
    color: #fff;
    width: 100%;
    padding: 35px ;
    font-size: 1.2rem;
    }

.footer-top {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footer-ctn {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-img img {
    max-width: 120px;
    width: 100%;
}

.footer-lists {
    width: 33.5%;
    padding: 0 6.2%;
    background: url(./img/bg-footer-h.jpg) ;
    box-sizing: border-box;
    text-align: center;
}

.footer-contact {
    flex: 1;
    margin: 0 20px;
    font-size: 1.2rem;
}

.footer-contact ul {
    list-style-type: none;
    padding: 0;
}

.footer-contact ul li {
    margin-bottom: 10px;
}

.footer-contact ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-contact ul li a:hover {
    text-decoration: underline;
}

.footer-copy {
    background-color: var(--primary-color);
    padding: 10px 20px;
    text-align: center;
    
}

.footer-copy-left p {
    margin: 0;
    color: #fff;
}

.footer-copy-left a {
    color:white;
    cursor: pointer;
    
}

.footer-copy-left a:hover {
    color: var(--for-color);
    /* Cambia el color de fondo al pasar el mouse */
}

/*/*

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .footer-top {
        flex-direction: column; /* Cambia a columna */
        align-items: flex-start; /* Alinea al inicio */
    }

    .footer-ctn {
        flex-direction: column; /* Cambia a columna */
        align-items: center; /* Centra los elementos */
    }

    .footer-lists {
        width: 100%; /* Asegura que ocupe todo el ancho */
        padding: 0; /* Elimina padding extra */
    }

    .footer-contact {
        margin: 10px 0; /* Añade margen vertical para separación */
        text-align: center; /* Centra el texto */
    }
}