
.container-text {
    display : flex;
    width:700px;
    height:40px;
    color:#fff;
    font-size:48px; /*3 rem*/
    line-height:40px;
    /* background: red; */
    color:black;
    
    
    /*para que esta centrado absolutamente */
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    
    overflow:hidden; 
    }
    
    ul{
    list-style:none;
    padding-left:10px;
    animation:cambiar 7s infinite;
    }
    
    
    ul,p{
    margin:0;
    }
    
    /*ANIAMCION */
    @keyframes cambiar {
    /*EL espacio q hay entre ellos */
    0%{ margin-top:0;}
    20%{ margin-top:0;}
    
    
    /*Esta sumando de 25 en 25*/
    25%{ margin-top:-40px;}
    50%{ margin-top:-40px;}
    
    
    55%{ margin-top:-80px;}
    80%{ margin-top:-80px;}
    
    85%{ margin-top:-40px;}
    95%{ margin-top:-40px;}
    
    100%{ margin-top:-0;}
    }
    
    
    
    
    