
:root {
    --primary-color: #004a94;
    --secundary-color: #edededff;
    --third-color: #ffff;
    --for-color: #99712a;
    --text-color:  #6c757d;
  
  }



  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--third-color);
    width: 100%;
    overflow-y: auto; 
  
}

.container {
    background: rgb(218, 221, 226);
    background: linear-gradient(to bottom, rgba(218, 221, 226, 1) 49%, rgba(255, 255, 255, 1) 75%);
    padding: 1.25rem;
    border-radius: 0.75rem;
    background-color: var(--text-color);
    font-family: "PT Sans", sans-serif;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    width: 30%;
   /* max-width: 400px; 
    margin: 0 auto; */
    
}


.body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color) ;
}

.login-text {
    margin-bottom: 1rem; 
    font-size: 2rem;
    font-weight: bold; 
    text-align: center;
}

.login-icon-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem; 
}

/* Checkbox and links styling */
.opciones-container {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

/* Estilo del contenedor de texto */
.group-text {
    white-space: normal;
    border: 2px solid var(--primary-color);
    border-radius: 5.5px;
    padding: 5px;
    margin-right: 2px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;

}


.title-container{
  font-weight: bold;
font-size: 1.2rem;



}

.text-container {
    width: 100%;
    height: 50%;
    margin: 1px;
    overflow: none;
    font-size: 2rem; /* Ajustar el tamaño de fuente */
    padding: 1rem;
}

.text-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}


.opciones-container {
  display: flex; 
  justify-content: space-around; 
  margin-top: 5rem;

}

.wrapper {
  display: flex; /* Asegura que el checkbox y el texto se alineen en línea */
  align-items: center; /* Alinea verticalmente los elementos */
  font-size: 1rem;
  margin-bottom: 1rem;
 
}

.remember-text {
  margin-left: 0.5rem; 
}


input[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  background-color: #004a94;
  border-radius: 5px;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

 


input[type="checkbox"]:after{
    
    font-family: "Font Awesome 5 Free";
     content:"\f00c" ;
     color: white;
     display: none;
     font-weight: bold;
     font-size: 25px;
}

input[type="checkbox"]:hover{
  background-color: var(--for-color);
}

input[type="checkbox"]:checked{
  background-color: var(--primary-color);
}

input[type="checkbox"]:checked:after{
  display:block;
}



.acceso {/*Ingresar*/
  background-color: var(--primary-color);
  background-color: var(--primary-color);
  padding: 0.5rem;
  border-radius: 0.75rem;
  color: var(--text-color);
  width: 100%;
  cursor: pointer;
  color: var(--third-color);
  font-weight: bold;
  margin-top: 1.6rem;
  font-size: 1.3rem;
}

.acceso:hover{
background-color:var(--for-color)
}


/*para tablets */










@media (max-width: 1000px) {
  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    display: block; 
    height: 100vh;
    background: pink;
  }
  .container {
    width: 100%; 
    height: auto; 
    max-width: 100%; 
    margin: 0;
  
  }
}

@media (max-width: 800px) {
 

  .body {
    display: flex; /* Flexbox para centrar en móviles */
    justify-content: center; 
    align-items: center; 
    background: black;
    height: 100vh;
  }
  .container {
    width: 100%; 
    height: auto; 
    max-width: 100%; 
    margin: 0;
    margin-top: 50px;
  }
  
}